.reg{
    padding: 22px;
}
.account-img {
    height: 250px;
    width: 250px;
    margin-right: 22px;
    margin-bottom: 16px;
  }
  .landing{
      margin-top: 2.5%;
  }
  .blog-img{
    height: 80px;
    width: 80px;
    margin-right: 22px;

    margin-bottom: 17px;
  }
  #usern{
      margin-left: 22px;
  }
  #form,#profileupdate{
      display: none;
  }
  .cardquote{
      background-color:rgba(116, 116, 116, 0.786);
      padding: 3%;
  }
  #submit{
      background-color:ghostwhite;
      border-radius: 5px;
  }
  #profbutton,#ref,#subs{
    border-radius: 5px;  
  }
  .navbarbg{
      background-color: #315B96;
  }
  body{
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    font-family: 'Prompt', sans-serif;  
  }
  .bg{
      background-color: rgba(255, 255, 255, 0.924);
      padding: 4px;
      color: blueviolet;
      border-radius: 6px;
  }
  h1,

  h4{
    font-family: sans-serif;
  }
  .black{
      color: black;
  }
#modalComment{
    border-radius: 5px;
}
.singleblog{
    background-color: rgba(255, 255, 255, 0.924);  
    color: blueviolet;
}
